html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none; }

a:hover, a:active, a:focus {
  outline: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;

}

header {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  overflow-y: hidden;
}

.banner {
  display: block;
  overflow: hidden;
  max-height: 672px;
}
@media (min-width: 1800px) {
  .banner {
    max-height: 612px;
  }
}

.banner img {
  width: 100%;
  margin-top: -33px;
}
@media (max-width: 768px) {
  .banner img {
    margin-top: 0;
  }
}
@media (min-width: 1800px) {
  .banner img {
    margin-top: -310px;
  }
}

.nav {
  top: 5.6rem;
  left: 5rem;
  right: 5rem;
  position: absolute;
  z-index: 20;
}
@media (max-width: 1024px) {
  .nav {
    top: 4.6vw;
    left: 9.4vw;
    right: 9.4vw;
  }
}
@media (min-width: 1800px) {
  .nav {
    top: 3.9rem;
    left: 10rem;
    right: 10rem;
  }
}

.nav__logo {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}

.logo {
  display: inline-block;
  width: 10.5rem;
}
@media (max-width: 1024px) {
  .logo {
    width: 18vw;
  }
}

.nav__menu {
  position: absolute;
  right: 0;
  top: 1rem;
}
@media (max-width: 1024px) {
  .nav__menu {
    top: 0.8vw;
    right: 0;
  }
}

.nav__burger {
  display: none;
}
@media (max-width: 1024px) {
  .nav__burger {
    display: inline-block;
    width: 4.8vw;
    height: 3.3vw;
  }
}

.nav__menu ul {
  text-transform: uppercase;
}

.nav__menu li {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 0;
  cursor: pointer;
  margin-left: 4rem;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .nav__menu li {
    display: none;
  }
}

#contact {
  display: inline-block;
  font-size: 1.5rem;
  letter-spacing: 0;
  cursor: pointer;
  margin-left: 4rem;
  font-weight: 900;
}
@media (max-width: 1024px) {
  #contact {
    display: none;
  }
}

.activ_nav {
  display: none;
  position: absolute;
  top: 11vw;
  left:0;
  right:0;
  background-color: rgba(38,38,38,0.99);
  text-transform: uppercase;
  z-index: 20;
  font-weight: 100;
}

.activ_nav ul {
  display: none;
  color: #cccccc;
}
@media (max-width: 1024px) {
  .activ_nav ul {
    display: block;
    padding-top: 5vw;
    padding-bottom: 20vw;
  }
}


.activ_nav__item {
  display: none;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .activ_nav__item {
    display: block;
    padding: 2vw;
    font-size: 2.7vw;
  }
}

.activ_nav__social {
  display: none;
}
@media (max-width: 1024px) {
  .activ_nav__social {
    display: block;
    padding: 4vw 33vw;
  }
}

.activ_nav__social p {
  float: left;
  display: inline;
  color: #cccccc;
  letter-spacing: 0.2vw;
  font-size: 1.6vw;
  }

.fbico_nav{
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-left: 3.8vw;
  margin-top: -2.1vw;
  width: 2vw;
}

.twittico_nav {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-top: -1.6vw;
  width: 3.8vw;
}

.body_wrapper {
  padding-left: 11.5vw;
  padding-right: 11.5vw;
  padding-top: 6.1vw;
  padding-bottom: 6.8vw;
}
@media (max-width: 768px) {
  .body_wrapper {
    padding-left: 9.5vw;
    padding-right: 9.5vw;
    padding-top: 11.7vw;
    padding-bottom: 12vw;
  }
}
@media (min-width: 1800px) {
  .body_wrapper {
    padding-left: 6.2vw;
    padding-right: 6.2vw;
    padding-top: 4.2vw;
    padding-bottom: 7vw;
  }
}

.contact_form {
  position: relative;
  display: block;
  background-color: #F8F8F8;
  width: 100%;
  vertical-align: top;
}
@media (min-width: 1800px) {
  .contact_form {
    display: inline-block;
    width: 53%;
  }
}

.contact_form__left {
  width: 48.7%;
  display: inline-block;
  text-align: left;
  margin-top: 2.6vw;
  padding-left: 3vw;
  padding-bottom: 7.9vw;
  vertical-align: top;
  border-right: 2px solid #919191;
}
@media (max-width: 768px) {
  .contact_form__left {
    display: block;
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #919191;
    margin-top: 0;
    padding-top: 5.6vw;
    padding-left: 8.3vw;
    padding-bottom: 16vw;
  }
}
@media (min-width: 1800px) {
  .contact_form__left {
    margin-top: 1.5vw;
    padding-left: 1.8vw;
    padding-bottom: 4.8vw;
  }
}

.contact_form__left h1 {
  display: block;
  color: #1C1C1C;
  font-size: 3.6vw;
  font-weight: 900;
}
@media (max-width: 768px) {
  .contact_form__left h1 {
    font-size: 7.6vw;
    letter-spacing: -0.6px;
  }
}
@media (min-width: 1800px) {
  .contact_form__left h1 {
    font-size: 2.2vw;
  }
}

.contact_form__left img {
  display: block;
  padding: 1.4vw 0;
  width: 47px;
}
@media (max-width: 768px) {
  .contact_form__left img {
    padding: 2.5vw 0;
  }
}
@media (min-width: 1800px) {
  .contact_form__left img {
    padding: 0.8vw 0;
  }
}

form {
  padding-right: 8.1vw;
}
@media (max-width: 768px) {
  form {
    padding-right: 18.5vw;
    padding-left: 0.7vw;
  }
}
@media (min-width: 1800px) {
  form {
    padding-right: 5vw;
  }
}

input {
  background-color: #F8F8F8;
  font-size: 1.6vw;
  color: #919191;
}
@media (max-width: 768px) {
  input {
    font-size: 3.2vw;
  }
}
@media (min-width: 1800px) {
  input {
    font-size: 1vw;
  }
}

.contact_form__left__name {
  width: 100%;
  border: none;
  border-bottom: 2px solid #919191;
  font-weight: 300;
  font-style: italic;
  background-color: #F8F8F8;
  padding-bottom: 4.6vw;
  outline-style: none;
  padding-top: 1.5vw;
}
@media (max-width: 768px) {
  .contact_form__left__name {
    padding-bottom: 9.2vw;
    padding-top: 3.9vw;
  }
}
@media (min-width: 1800px) {
  .contact_form__left__name {
    padding-bottom: 2.7vw;
    padding-top: 1vw;
  }
}

.contact_form__left__email {
  width: 100%;
  border: none;
  border-bottom: 2px solid #919191;
  font-weight: 300;
  font-style: italic;
  background-color: #F8F8F8;
  padding-bottom: 4.5vw;
  padding-top: 3.5vw;
  outline-style: none;
}
@media (max-width: 768px) {
  .contact_form__left__email {
    padding-bottom: 9.3vw;
    padding-top: 7.5vw;
  }
}
@media (min-width: 1800px) {
  .contact_form__left__email {
    padding-bottom: 2.8vw;
    padding-top: 2vw;
  }
}

.checkbox_container {
  display: block;
  position: relative;
  padding-left: 3.5vw;
  padding-top: 4vw;
  cursor: pointer;
  font-size: 1.8vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 768px) {
  .checkbox_container {
    padding-left: 6.5vw;
    padding-top: 8.3vw;
    font-size: 3.5vw;
    letter-spacing: 0.7px;
  }
}
@media (min-width: 1800px) {
  .checkbox_container {
    padding-left: 2.1vw;
    padding-top: 2.3vw;
    font-size: 1.1vw;
  }
}


.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 4vw;
  left: 0.3vw;
  height: 2vw;
  width: 2vw;
  background-color: white;
  border-radius: 2px;
  border: 2px solid #C41230;
}
@media (max-width: 768px) {
  .checkmark {
    top: 8vw;
    left: 0vw;
    height: 4.2vw;
    width: 4.2vw;
  }
}
@media (min-width: 1800px) {
  .checkmark {
    top: 2.4vw;
    height: 1.3vw;
    width: 1.3vw;
  }
}

.checkbox_container input:checked ~ .checkmark {
  background-color: #C41230;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox_container .checkmark:after {
  left: 0.7vw;
  top: 0.2vw;
  width: 0.4vw;
  height: 0.9vw;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media (max-width: 768px) {
  .checkbox_container .checkmark:after {
    left: 1.1vw;
    top: 0.5vw;
    width: 1vw;
    height: 1.8vw;
  }
}
@media (min-width: 1800px) {
  .checkbox_container .checkmark:after {
    left: 0.4vw;
    top: 0vw;
    width: 0.3vw;
    height: 0.7vw;
  }
}

.contact_form__right {
  display: inline-block;
  text-align: left;
  margin-top: 2.6vw;
  width: 50%;
}
@media (max-width: 768px) {
  .contact_form__right {
    display: block;
    width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 1800px) {
  .contact_form__right {
    margin-top: 0;
  }
}

.contact_form__right form {
  padding-left: 3vw;
  padding-top: 2.4vw;
  padding-right: 0;
}
@media (max-width: 768px) {
  .contact_form__right form {
    padding-left: 6.4vw;
    padding-top: 10.6vw;
    padding-bottom: 22.2vw;
  }
}
@media (min-width: 1800px) {
  .contact_form__right form {
    padding-left: 1.7vw;
    padding-top: 2.9vw;
  }
}

.contact_form__right label {
  font-style: italic;
  font-size: 1.5vw;
  color: #919191;
  font-weight: 300;
}
@media (max-width: 768px) {
  .contact_form__right label {
    font-size: 3.2vw;
  }
}
@media (min-width: 1800px) {
  .contact_form__right label {
    font-size: 1vw;
  }
}

.contact_form__right textarea {
  width: 100%;
  border: none;
  font-size: 1.9vw;
  background-color: #F8F8F8;
  outline-style: none;
  padding-top: 1.7vw;
  padding-left: 0;
}
@media (max-width: 768px) {
  .contact_form__right textarea {
    font-size: 3.9vw;
    padding-top: 3.1vw;
  }
}
@media (min-width: 1800px) {
  .contact_form__right textarea {
    font-size: 1.1vw;
    padding-top: 1.1vw;
  }
}

.contact_form__right textarea::placeholder {
  color: black;
}

.contact_form__right__submit {
  position: absolute;
  width: 51.2%;
  bottom: 0;
  right: 0;
  background-color: #C41230;
  color: #FFFFFF;
  padding: 2vw;
  cursor: pointer;
  border-width: 0;
  font-size: 1.9vw;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .contact_form__right__submit {
    width: 100%;
    padding: 4.1vw;
    font-size: 3.9vw;
  }
}
@media (min-width: 1800px) {
  .contact_form__right__submit {
    padding: 1.3vw;
    font-size: 1.1vw;
  }
}

.contact_form__right__submit:hover {
  background-color: #790c1f;
}

.contact_information {
  display: block;
  width: 100%;
}
@media (min-width: 1800px) {
  .contact_information {
    display: inline-block;
    width: 46%;
  }
}

.contact_information__wrapper1 {
  padding-left: 6.9vw;
  padding-right: 6.9vw;
  padding-top: 5vw;
}
@media (max-width: 768px) {
  .contact_information__wrapper1 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10.5vw;
    text-align: center;
  }
}
@media (min-width: 1800px) {
  .contact_information__wrapper1 {
    padding-left: 2.7vw;
    padding-right: 0;
    padding-top: 1.3vw;
  }
}


.contact_information h1 {
  font-size: 1.9vw;
  letter-spacing: 1.4px;
  font-weight: 900;
  color: #1C1C1C;
}
@media (max-width: 768px) {
  .contact_information h1 {
    font-size: 3.9vw;
  }
}
@media (min-width: 1800px) {
  .contact_information h1 {
    font-size: 1.2vw;
  }
}

.contact_information__red_dash {
  display: block;
  width: 48px;
  padding: 1.4vw 0;
}
@media (max-width: 768px) {
  .contact_information__red_dash {
    margin: 0 auto;
    padding: 2.6vw 0;
  }
}
@media (min-width: 1800px) {
  .contact_information__red_dash {
    padding: 0.8vw 0;
  }
}

.contact_information p {
  font-size: 1.8vw;
  font-weight: 300;
  color: #1C1C1C;
  padding-top: 0.1vw;
  letter-spacing: 0.3px;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .contact_information p {
    font-size: 3.7vw;
  }
}
@media (min-width: 1800px) {
  .contact_information p {
    font-size: 1.1vw;
  }
}

.contact_information__dubai {
  display: inline-block;
}
@media (max-width: 768px) {
  .contact_information__dubai {
    display: block;
  }
}

.contact_information__beirut {
  float: right;
  margin-right: 0vw;
}
@media (max-width: 768px) {
  .contact_information__beirut {
    float: none;
    display: block;
    padding-top: 10.5vw;
  }
}

.contact_information__wrapper2 {
  padding-left: 6.9vw;
  padding-right: 6.9vw;
  padding-top: 7.3vw;
}
@media (max-width: 768px) {
  .contact_information__wrapper2 {
    padding-left: 0vw;
    padding-right: 0vw;
    padding-top: 11vw;
    text-align: center;
  }
}
@media (min-width: 1800px) {
  .contact_information__wrapper2 {
    padding-left: 2.8vw;
    padding-right: 0vw;
    padding-top: 4.2vw;
  }
}

.contact_information__belgrade {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 768px) {
  .contact_information__belgrade {
    display: block;
  }
}

.follow_us {
  float:right;
  padding-right: 12vw;
}
@media (max-width: 768px) {
  .follow_us {
    display: block;
    float: none;
    padding-right: 0;
    padding-top: 10.5vw;
  }
}
@media (min-width: 1800px) {
  .follow_us {
    padding-right: 6.4vw;
  }
}

.follow_us__twittico {
  width: 2vw;
  display: inline-block;
  padding-top: 0.8vw;
  margin-left: 0.1vw;
}
@media (max-width: 768px) {
  .follow_us__twittico {
    width: 4.2vw;
    padding-top: 2vw;
    margin-left: 0.4vw;
  }
}
@media (min-width: 1800px) {
  .follow_us__twittico {
    width: 1.3vw;
    padding-top: 0.4vw;
  }
}

.follow_us__fbico {
  width: 2vw;
  display: inline-block;
  margin-left: 1.1vw;
}
@media (max-width: 768px) {
  .follow_us__fbico {
    width: 4.2vw;
    margin-left: 1.9vw;
  }
}
@media (min-width: 1800px) {
  .follow_us__fbico {
    width: 1.2vw;
    margin-left: 0.6vw;
  }
}


.futter {
  display: block;
  position: relative;
  margin-top: 0;
}
@media (max-width: 1024px) {
  .futter {
    text-align: center;
  }
}

.futter__container {
  position: absolute;
  right: 5rem;
  top: 3.3rem;
}
@media (max-width: 1024px) {
  .futter__container {
    width: 100%;
    right: 0;
    top: 9.5vw;
  }
}
@media (min-width: 1800px) {
  .futter__container {
    right: 10rem;
  }
}

.futter__container__linkedin_ico {
  display: inline-block;
}

.futter__container__linkedin_ico img {
  width: 23px;
  margin-left: 1.3rem;
}
@media (max-width: 1024px) {
  .futter__container__linkedin_ico img {
    margin-left: 1.7vw;
  }
}

.futter__container__twitt_ico {
  display: inline-block;
  margin-left: 0;
}

.futter__container__twitt_ico img {
  width: 26px;
}

.futter__container__webpage {
  display: inline-block;
  color: #616161;
  letter-spacing: 1.2px;
  font-size: 1.1rem;
  margin-left: 8.4rem;
}
@media (max-width: 1024px) {
  .futter__container__webpage {
    display: block;
    margin-left: 0;
    text-align: center;
    padding-top: 5.1vw;
    font-size: 2.3vw;
  }
}

.div_copyright {
  display: block;
  background-color: #1e1e1e;
  color: #5f5f5f;
  padding-top: 3.4rem;
  padding-bottom: 3.4rem;
  padding-left: 5.1rem;
}
@media (max-width: 1024px) {
  .div_copyright {
    width: 100%;
    padding-top: 25.7vw;
    padding-bottom: 9.1vw;
    padding-left: 0;
    text-align: center;
  }
}
@media (min-width: 1800px) {
  .div_copyright {
    padding-left: 10.1rem;
  }
}


.copyrigtxt2 {
  display: block;
  font-size: 1.3vw;
  letter-spacing: 0px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .copyrigtxt2 {
    font-size: 2.7vw;
    letter-spacing: -0.1px;
  }
}
@media (min-width: 1800px) {
  .copyrigtxt2 {
    font-size: 1.3rem;
  }
}
