html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none; }

a:hover, a:active, a:focus {
  outline: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: block;
  position: relative;
  text-align: center;
  overflow-y: hidden;
}

.banner {
  display: block;
  max-height: 672px;
  overflow: hidden;
}
@media (min-width: 1800px) {
  .banner {
    max-height: 612px;
  }
}

.banner img {
  width: 100%;
  margin-top: -33px;
}
@media (max-width: 768px) {
  .banner img {
    margin-top: 0;
    height: 49vw;
  }
}
@media (min-width: 1800px) {
  .banner img {
    margin-top: -310px;
  }
}

.nav {
  top: 5.9vw;
  left: 5.4vw;
  right: 5.1vw;
  position: absolute;
  z-index: 20;
}
@media (max-width: 1024px) {
  .nav {
    top: 4.6vw;
    left: 9.4vw;
    right: 9.4vw;
  }
}
@media (min-width: 1800px) {
  .nav {
    top: 2.4vw;
    left: 6.3vw;
    right: 6.2vw;
  }
}

.nav__logo {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}

.logo {
  display: inline-block;
  width: 10.8vw;
}
@media (max-width: 1024px) {
  .logo {
    width: 18vw;
  }
}

.nav__menu {
  position: absolute;
  right: 0.2vw;
  top: 1vw;
}
@media (max-width: 1024px) {
  .nav__menu {
    top: 0.8vw;
    right: 0;
  }
}

.nav__burger {
  display: none;
}
@media (max-width: 1024px) {
  .nav__burger {
    display: inline-block;
    width: 4.8vw;
    height: 3.3vw;
  }
}

.nav__menu ul {
  text-transform: uppercase;
}

.nav__menu li {
  display: inline-block;
  font-size: 1.5vw;
  letter-spacing: 0;
  cursor: pointer;
  margin-left: 4.5vw;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .nav__menu li {
    display: none;
  }
}

#contact {
  display: inline-block;
  font-size: 1.5vw;
  letter-spacing: 0;
  cursor: auto;
  margin-left: 4.3vw;
  font-weight: 900;
}
@media (max-width: 1024px) {
  #contact {
    display: none;
  }
}

.activ_nav {
  display: none;
  position: absolute;
  top: 11vw;
  left:0;
  right:0;
  background-color: rgba(38,38,38,0.99);
  text-transform: uppercase;
  z-index: 20;
  font-weight: 100;
}

.activ_nav ul {
  display: none;
  color: #cccccc;
}
@media (max-width: 1024px) {
  .activ_nav ul {
    display: block;
    padding-top: 5vw;
    padding-bottom: 20vw;
  }
}

.activ_nav__item {
  display: none;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .activ_nav__item {
    display: block;
    padding: 2vw;
    font-size: 2.7vw;
  }
}

.activ_nav__social {
  display: none;
}
@media (max-width: 1024px) {
  .activ_nav__social {
    display: block;
    padding: 4vw 33vw;
  }
}

.activ_nav__social p {
  float: left;
  display: inline;
  color: #cccccc;
  letter-spacing: 0.2vw;
  font-size: 1.6vw;
  }

.fbico_nav{
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-left: 3.8vw;
  margin-top: -2.1vw;
  width: 2vw;
}

.twittico_nav {
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-top: -1.6vw;
  width: 3.8vw;
}

.body_wrapper {
  text-align: left;
  width: 100%;
  padding-left: 5.2vw;
  padding-right: 6vw;
  padding-top: 5.4vw;
  padding-bottom: 7.6vw;
}
@media (max-width: 1024px) {
  .body_wrapper {
    padding-left: 9.5vw;
    padding-right: 9.5vw;
    padding-top: 9.7vw;
    padding-bottom: 12.4vw;
  }
}
@media (min-width: 1800px) {
  .body_wrapper {
    padding-left: 6.2vw;
    padding-right: 40vw;
    padding-top: 4.3vw;
    padding-bottom: 7vw;
  }
}

.body_wrapper h3 {
  font-size: 27px;
  font-style: italic;
  color: #1C1C1C;
  padding-bottom: 0.9vw;
  letter-spacing: 0.4px;
}
@media (max-width: 1024px) {
  .body_wrapper h3 {
    font-size: 3.6vw;
    padding-bottom: 1.8vw;
  }
}
@media (min-width: 1800px) {
  .body_wrapper h3 {
    padding-bottom: 0.7vw;
  }
}

.body_wrapper h1 {
  font-size: 53px;
  font-weight: 900;
  color: #1C1C1C;
  letter-spacing: 1.2px;
}
@media (max-width: 1024px) {
  .body_wrapper h1 {
    font-size: 7.1vw;
  }
}


.red_dash {
  padding-top: 1.3vw;
  padding-bottom: 4.8vw;
  width: 47px;
}
@media (max-width: 1024px) {
  .red_dash {
    padding-top: 2.7vw;
    padding-bottom: 9.4vw;
  }
}
@media (min-width: 1800px) {
  .red_dash {
    padding-top: 0.7vw;
    padding-bottom: 2.8vw;

  }
}

.body_wrapper h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.3;
}
@media (max-width: 1024px) {
  .body_wrapper h2 {
    font-size: 4.2vw;
    padding-right: 1vw;
  }
}

.body_wrapper ul {
  padding-top: 2.4vw;
  padding-left: 5.6vw;
  padding-bottom: 5vw;
  line-height: 1.8;
  font-size: 28.8px;
  color: #1C1C1C;
  list-style: disc;
  letter-spacing: -0.4px;
}
@media (max-width: 1024px) {
  .body_wrapper ul {
    padding-top: 4.7vw;
    padding-left: 11.4vw;
    padding-bottom: 9.7vw;
    font-size: 3.9vw;
    letter-spacing: -0.5px;
  }
}
@media (min-width: 1800px) {
  .body_wrapper ul {
    padding-top: 1.4vw;
    padding-left: 3.4vw;
    padding-bottom: 2.9vw;
    font-size: 29px;
  }
}


@media (min-width: 1025px) {
  #start_date {
    display: none;
  }
}

.body_wrapper p {
  font-size: 25.7px;
  color: #1C1C1C;
  margin-top: -0.2vw;
  letter-spacing: 1px;
  padding-right: 4vw;
  line-height: 2;
}
@media (max-width: 1024px) {
  .body_wrapper p {
    font-size: 3.4vw;
    padding-top: 0;
    letter-spacing: 1.1px;
    padding-right: 1vw;
    line-height: 2;
    margin-top: -0.7vw;
  }
}
@media (min-width: 1800px) {
  .body_wrapper p {
    line-height: 2;
  }
}

#italic {
  font-style: italic;
  margin-top: 1vw;
  padding-right: 3vw;
}
@media (max-width: 1024px) {
    #italic {
      padding-right: 0;
      margin-top: 3.3vw;
    }
}
@media (min-width: 1800px) {
  #italic {
    margin-top: 0.8vw;
    line-height: 2;
  }
}

.footer {
  display: block;
  position: relative;
  margin-top: 0;
}
@media (max-width: 1024px) {
  .footer {
    text-align: center;
  }
}

.footer__container {
  position: absolute;
  right: 5.2vw;
  top: 3.4vw;
}
@media (max-width: 1024px) {
  .footer__container {
    width: 100%;
    right: 0;
    top: 9.5vw;
  }
}
@media (min-width: 1800px) {
  .footer__container {
    top: 2vw;
    right: 6.3vw;
  }
}

.footer__container__linkedin_ico {
  display: inline-block;
}

.footer__container__linkedin_ico img {
  width: 23px;
  margin-left: 1.3vw;
}
@media (max-width: 1024px) {
  .footer__container__linkedin_ico img {
    margin-left: 1.7vw;
  }
}

.footer__container__twitt_ico {
  display: inline-block;
  margin-left: 0;
}

.footer__container__twitt_ico img {
  width: 26px;
}

.footer__container__webpage {
  display: inline-block;
  color: #616161;
  letter-spacing: 1.2px;
  font-size: 1.15vw;
  margin-left: 8.8vw;
}
@media (max-width: 1024px) {
  .footer__container__webpage {
    display: block;
    margin-left: 0;
    text-align: center;
    padding-top: 5.1vw;
    font-size: 2.3vw;
  }
}
@media (min-width: 1800px) {
  .footer__container__webpage {
    font-size: 0.7vw;
    margin-left: 5vw;
  }
}


.div_copyright {
  display: block;
  background-color: #1e1e1e;
  color: #5f5f5f;
  padding-top: 3.5vw;
  padding-bottom: 3.5vw;
  padding-left: 5.1vw;
}
@media (max-width: 1024px) {
  .div_copyright {
    width: 100%;
    padding-top: 25.7vw;
    padding-bottom: 9.1vw;
    padding-left: 0;
    text-align: center;
  }
}
@media (min-width: 1800px) {
  .div_copyright {
    padding-left: 6vw;
    padding-top: 2.2vw;
    padding-bottom: 2.2vw;
  }
}

.copyrigtxt2 {
  display: block;
  font-size: 1.3vw;
  letter-spacing: 0.1px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .copyrigtxt2 {
    font-size: 2.8vw;
  }
}
@media (min-width: 1800px) {
  .copyrigtxt2 {
    font-size: 0.8vw;
  }
}
